#MySQL
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=ecommerce_db
DB_USER=root
DB_PASS=
DB_CHARSET=utf8mb4
# Gmail (optional - forgot password)
GMAIL_USER=
GMAIL_PASS=
#App
WEBSITE_DOMAIN=http://localhost:8000